/* 
My colors:
2492c4 blue primary
2a343b dark secondary
91acc4 light secondary
fafafa white
1a1a1a black
c5c5c5 gray (body background)
*/

html,
body {
  height: 100%;
  margin: 0;
  color: #1a1a1a;
  background-color: #c5c5c5;
  font-family: 'Open Sans', sans-serif;
}

/*
*
* Header Wrapper
*
*/

.header-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fafafa;
}

/*
*
* Header
*
*/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  flex-wrap: wrap;
  height: 100px;
}

/*
*
* Logo
*
*/

.logo {
  width: 60px;
  height: 60px;
}

/*
*
* Hamburger
*
*/

.hamburger {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/*
*
* Title
*
*/

.title {
  display: none;
}

/*
*
* Nav
*
*/

.nav {
  display: none;
}

/*
*
* Drawer
*
*/

.drawer {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  right: -150px;
  z-index: 10;
  background: #fafafa;
  width: 150px;
  transition: 0.4s ease;
}

.drawer.open {
  right: 0px;
}

.drawer__item {
  padding: 1em;
  font-size: 18px;
  border-top: 1px solid #1a1a1a;
  text-align: center;
  text-decoration: none;
  color: #1a1a1a;
}

.drawer__item:hover {
  text-decoration: underline;
  background-color: #2492c4;
  color: #fafafa;
}

/*
*
* Hero
*
*/

.hero {
  height: 100%;
  width: 100%;
  background-color: #2a343b;
  overflow: hidden;
  position: relative;
}

.hero:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skew(-35deg) translateX(-50%);
  background-color: #91acc4;

  /* fix skew */
  padding-left: 240px;
  margin-left: -100px;
}

.hero__name {
  margin: 0;
  text-align: end;
  font-size: 1.5em;
  color: #2a343b;
  position: absolute;
  z-index: 1;
  margin: 2rem 0 0 1rem;
  font-size: 2em;
}

.hero__role {
  margin: 0;
  text-align: end;
  font-size: 1.3em;
  color: #91acc4;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  margin: 0 1.5rem 4.2rem;
  font-size: 1.7em;
}

.hero__arrow {
  position: absolute;
  width: 35px;
  z-index: 1;
  bottom: 10px;
  right: 50%;
  transform: translateX(50%);
  padding: 5px;
  cursor: pointer;
  animation: pulse 4s infinite ease;
}

@keyframes pulse {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(0.4);
  }
  100% {
    filter: brightness(1);
  }
}

.hero__arrow:hover {
  filter: brightness(0.8);
  animation: none;
}

.hero__arrow:active {
  filter: brightness(0.6);
}

/*
*
* hero__device
*
*/

.hero__device {
  background-color: #1a1a1a;
  height: 265px;
  width: 170px;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  border: solid 6.5px #2492c4;
}

.hero__device--project {
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  transform: none;
  box-sizing: border-box;
}

.hero__device-inner {
  position: relative;
  height: 75%;
  width: 85%;
  border: solid 2px #2492c4;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__device-inner-svg {
  width: 75px;
}

.hero__device-inner-text {
  color: #2492c4;
  font-size: 4rem;
}

/*
*
* About
*
*/

.about {
  padding: 2rem 0;
  background-color: #fafafa;
}

.about__heading {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 3rem;
}

.about__text {
  width: 300px;
  text-align: center;
  margin: 0 auto 1.5rem;
  font-size: 1.2em;
}

/*
*
* Projects
*
*/

.projects {
  background-color: #2492c4;
  padding: 1rem 0rem 2rem;
}

.projects__heading {
  text-align: center;
  color: #fafafa;
  font-size: 2em;
  border-bottom: 2px solid #fafafa;
  margin: 1rem 2rem 4rem;
  padding: 3rem 0 1rem;
}

.projects__box {
  display: flex;
  flex-direction: column;
}

/*
*
* Project
*
*/

.project {
  display: flex;
  flex-direction: column;
  height: 450px;
  padding: 1rem;
  margin: 0 0 3rem 0;
  border-radius: 5px;
  background-color: #fafafa;
  box-shadow: 0px 3px 25px #1a1a1a;
}

.project__title {
  font-size: 1.6em;
  padding: 0.75rem 0;
  margin: 0 auto 0.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 10%;
}

.project__title-link {
  color: #2492c4;
  text-decoration: none;
}

.project__title-link:hover {
  text-decoration: underline;
  filter: brightness(0.8);
}

.project__title-link:active {
  text-decoration: underline;
  filter: brightness(0.6);
}

.project__frame {
  position: relative;
  background-color: #1a1a1a;
  border: solid 6.5px #2492c4;
  border-radius: 5px;
  box-sizing: border-box;
  flex: 1 70%;
  width: 95%;
  margin: auto;
}

.project__frame-inner {
  height: 85%;
  width: 90%;
  border: solid 2px #2492c4;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.project__frame-inner--p1 {
  background-image: url('images/studybuddiestracker-640.png');
}

.project__frame-inner--p2 {
  background-image: url('images/pixelartmaker-640.png');
}

.project__frame-inner--p3 {
  background-image: url('images/animalcard-640.png');
}

.project__info {
  color: #1a1a1a;
  text-align: center;
  font-size: 1em;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1rem auto 0.5rem;
  width: 80%;
  border: 2px solid #91acc4;
  flex: 1 0 20%;
  display: flex;
  align-items: center;
}

/*
*
* Contact
*
*/

.contact {
  padding: 1rem 0 0;
  background-color: #fafafa;
}

.contact__heading {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.8em;
}

.contact__text {
  font-size: 1.2em;
  text-align: center;
  width: 70%;
  margin: 0 auto 4rem;
}

/*
*
* Social Links
*
*/

.social-links {
  height: 160px;
  width: 100%;
  background-color: #91acc4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links__link {
  padding: 1em;
  margin: 0 0.75rem;
  background-color: #2a343b;
  border-radius: 50%;
  color: #2492c4;
  transition: all 0.4s ease;
}

.social-links__link-text {
  position: absolute;
  overflow: hidden;
  left: -1000px;
}

.social-links__link:hover {
  background-color: #2492c4;
  color: #2a343b;
  transform: scale(1.2);
}

.social-links__link:active {
  filter: brightness(1.2);
}

.social-links__link i::before {
  font-size: 35px;
}

/*
*
* Footer
*
*/

.footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a343b;
}

.footer__text {
  color: #fafafa;
  font-size: 0.9em;
}

/*
*
* Media Queries
*
*/

@media only screen and (min-width: 500px) {
  .hamburger,
  .hero__name,
  .hero__role,
  .drawer {
    display: none;
  }

  .title {
    display: block;
    text-align: end;
  }

  .title__name {
    color: #1a1a1a;
    margin: 0;
  }

  .title__role {
    color: #91acc4;
    margin: 0;
  }

  .nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2492c4;
    height: 70px;
    box-shadow: 0px 5px 15px #1a1a1a70;
    z-index: 30;
  }

  .nav__item {
    color: #fafafa;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 2rem;
    padding: 0.75em;
  }

  .nav__item:hover {
    color: #2492c4;
    background-color: #fafafa;
    text-decoration: underline;
    border-radius: 2px;
  }

  .projects__heading {
    width: 300px;
    margin: 1rem auto 4rem;
  }
}

@media only screen and (min-width: 600px) {
  .project {
    padding: 1rem 3rem;
    margin: 0 auto 2rem;
    box-shadow: 10px 10px 15px #1a1a1a70;
    border-radius: 5px;
    width: 425px;
  }
}

@media only screen and (min-width: 768px) {
  .hero__device {
    width: 320px;
    height: 480px;
  }

  .hero__device-inner {
    height: 85%;
  }

  .about__text {
    width: 45%;
  }

  .contact__text {
    width: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    justify-content: flex-start;
  }

  .title {
    text-align: start;
    margin: 0 0 0 1rem;
  }

  .hero__device {
    width: 520px;
    height: 380px;
  }

  .hero__device::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 60px;
    background-color: #1a1a1a;
    bottom: -56.5px;
    right: 50%;
    transform: translateX(50%);
  }

  .hero__device::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: #1a1a1a;
    bottom: -86.5px;
    right: 50%;
    transform: translateX(50%);
    border-radius: 50%;
  }

  .hero__device-inner {
    height: 85%;
  }

  .about__text {
    width: 35%;
  }

  .projects__heading {
    width: 400px;
    margin: 1rem auto 4rem;
  }

  .projects__box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .project {
    padding: 1rem 0.5rem;
    margin: 0 1rem 4rem;
  }

  .project:hover {
    transition: transform 0.4s ease;
    transform: scale(1.05);
  }
}

@media only screen and (min-width: 1400px) {
  .project {
    width: 400px;
  }
}

@media only screen and (min-width: 1500px) {
  .main {
    width: 1500px;
    margin: auto;
  }
}
