/* 
Mockup colors:
#02b3e4 blue  
#2d3c49 dark
#7d97ad grey 
*/

html,
body {
    height: 100%;
}

body {
    margin: 0;

}

/*
*
* header
*
*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-bottom: 3px solid #2d3c49;
    padding: 1rem 1rem;
}

    .header__logo {
        width: 60px;
        height: 60px;
    }

    .header__title {
        max-width: 80%;
    }

        .header__name {
            margin: 0;
            text-align: end;
            font-size: 1.9em;
        }

        .header__role {
            margin: 0;
            text-align: end;
            font-size: 1.4em;
        }


/*
*
* Cover
*
*/

.cover {
    box-shadow: 0px 10px 10px #2d3c49;
    position: relative;
    box-sizing: border-box;
}

    .cover__image {
        width: 100%;
        height: auto;
        display: block;
    }


/*
*
* Projects
*
*/