/* 
My colors:
2492c4 blue
2a343b dark
91acc4 light 
fafafa white
1a1a1a black
*/

html,
body {
  height: 100%;
  margin: 0;
  color: #1a1a1a;
}

/*
*
* Header Wrapper
*
*/

.header-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fafafa;
}

/*
*
* Header
*
*/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  flex-wrap: wrap;
}

/*
*
* Logo
*
*/

.logo {
  width: 100px;
  height: 100px;
}

/*
*
* Hamburger
*
*/

.hamburger {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/*
*
* Title
*
*/

.title {
  display: none;
}

/*
*
* Nav
*
*/

.nav {
  display: none;
}

/*
*
* Drawer
*
*/

.drawer {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  right: -150px;
  z-index: 10;
  background: #2492c4;
  width: 150px;
  transition: 0.4s ease;
}

.drawer.open {
  right: 0px;
}

.drawer__item {
  padding: 1em;
  font-size: 18px;
  border-top: 1px solid #91acc4;
  text-align: center;
  text-decoration: none;
  color: #fafafa;
}

.drawer__item:hover {
  text-decoration: underline;
  background-color: #fafafa;
  color: #2492c4;
  /* box-shadow: 2px 2px 10px #1a1a1a; */
}

/*
*
* Hero
*
*/

.hero {
  height: 100%;
  width: 100%;
  background-color: #2a343b;
  overflow: hidden;
  position: relative;
  /* box-sizing: border-box; */
}

.hero:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skew(-30deg) translateX(-50%);
  background-color: #91acc4;

  /* fix skew */
  padding-left: 150px;
  margin-left: -100px;
}

.hero__name {
  margin: 0;
  text-align: end;
  font-size: 1.5em;
  color: #2a343b;
  position: absolute;
  z-index: 1;
  margin: 2rem 0 0 1rem;
  font-size: 2em;
}

.hero__role {
  margin: 0;
  text-align: end;
  font-size: 1.3em;
  color: #91acc4;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  margin: 0 2rem 2rem;
  font-size: 2em;
}

/*
*
* Device
*
*/

.device {
  background-color: #1a1a1a;
  height: 350px;
  width: 200px;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  border: solid 6.5px #2492c4;
}

.device__inner {
  position: relative;
  height: 75%;
  width: 85%;
  border: solid 2px #2492c4;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.device__inner-text {
  color: #2492c4;
  font-size: 4rem;
}

/*
*
* About
*
*/

.about {
  /* border-bottom: 2px solid #91acc4; */
  margin: 1rem;
  padding: 2rem 0;
}

.about__heading {
  text-align: center;
  font-size: 2em;
  margin-bottom: 3rem;
}

.about__text {
  width: 70%;
  text-align: center;
  margin: 0 auto 1.5rem;
  font-size: 18px;
}

/*
*
* Projects
*
*/

.projects {
  background-color: #2492c4;

  padding: 1rem 0rem 2rem;
}

.projects__heading {
  text-align: center;
  color: #fafafa;
  font-size: 2em;
  border-bottom: 1px solid #91acc4;
  margin: 1rem 2rem 4rem;
  padding: 3rem 0 1rem;
}

/*
*
* Project
*
*/

.project {
  background-color: #2a343b;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #91acc4;
  margin-bottom: 3rem;
  box-shadow: 0px 3px 25px #1a1a1a;
}

.project__title {
  text-align: center;
  color: #fafafa;
  font-size: 1.4em;
  padding: 0.75rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.project__image {
  width: 100%;
}

.project__info {
  color: #1a1a1a;
  text-align: center;
  font-size: 18px;
  background-color: #fafafa;
  border-radius: 15px;
  padding: 0.7rem;
  margin: 1.5rem 0.5rem 0.5rem;
}

/*
*
* Contact
*
*/

.contact {
  padding: 1rem 0 0;
}

.contact__heading {
  text-align: center;
  padding: 2rem 0;
  font-size: 2em;
}

.contact__text {
  font-size: 18px;
  text-align: center;
  margin: 0 2rem 4rem;
}

/*
*
* Link Box
*
*/

.social-links {
  height: 200px;
  width: 100%;
  background-color: #91acc4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links__link {
  padding: 1em;
  margin: 0 0.75rem;
  background-color: #2a343b;
  border-radius: 50%;
  color: #2492c4;
  transition: all 0.4s ease;
}

.social-links__link:hover {
  background-color: #2492c4;
  color: #2a343b;
  transform: scale(1.2);
}

.social-links__link:active {
  filter: brightness(1.2);
}

.social-links__link i::before {
  font-size: 35px;
}

/*
*
* Footer
*
*/

.footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a343b;
}

.footer__text {
  color: #fafafa;
}

/*
*
* Media Queries
*
*/

@media only screen and (min-width: 500px) {
  .hamburger,
  .hero__name,
  .hero__role,
  .drawer {
    display: none;
  }

  .title {
    display: block;
    text-align: end;
  }

  .title__name {
    color: #1a1a1a;
    margin: 0;
  }

  .title__role {
    color: #91acc4;
    margin: 0;
  }

  .nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2492c4;
    height: 70px;
    box-shadow: 0px 5px 15px #1a1a1a70;
    z-index: 30;
  }

  .nav__item {
    color: #fafafa;
    text-decoration: none;
    font-size: 20px;
    margin: 0 2rem;
    padding: 0.75em;
  }

  .nav__item:hover {
    color: #2492c4;
    background-color: #fafafa;
    text-decoration: underline;
    border-radius: 2px;
  }
}

@media only screen and (min-width: 768px) {
  .device {
    width: 320px;
    height: 480px;
  }

  .device__inner {
    height: 85%;
  }

  .about__text {
    width: 45%;
  }
}

@media only screen and (min-width: 1024px) {
  .device {
    width: 520px;
    height: 380px;
  }

  .device::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 60px;
    background-color: #1a1a1a;
    bottom: -56.5px;
    right: 50%;
    transform: translateX(50%);
  }

  .device::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: #1a1a1a;
    bottom: -86.5px;
    right: 50%;
    transform: translateX(50%);
    border-radius: 50%;
  }

  .device__inner {
    height: 85%;
  }

  .about {
    padding: 3.5rem;
  }

  .about__heading {
    font-size: 3em;
  }

  .about__text {
    width: 35%;
    font-size: 20px;
  }
}
